{% extends "base.html" %}

{% block title %}{{ article.title }} - {{ super() }}{%endblock%}

{% block head -%}
{% if article.canonical %}
  <link rel="canonical" href="{{ article.canonical }}">
{%- endif %}
{% endblock %}

{% block content %}  

  <article class="hentry">

    <div class="entry-header">
      <abbr class="published" title="{{ article.date.isoformat() }}">
        {{ article.locale_date }}
      </abbr>
      <h2 class="instapaper_title">{{ article.title }}</h2>
    </div>
    <div class="instapaper_body entry-content">
    {{ article.content }}
    </div>
    
    <div class="metadata">
    
    {#
    {% if article.author %}
    <address class="vcard author">
      By <a class="url fn" href="{{ SITEURL }}/author/{{ article.author }}.html">{{ article.author }}</a>
    </address>
    {% endif %}
    #}
    
    {% if article.category and article.category != "misc" %}
    <p>
      Posted in <em><a href="{{ SITEURL }}/category/{{ article.category }}.html">{{ article.category }}</a></em>
    </p>
    {% endif %}
    
    {% if article.tags %}
    <p>
      Tags: {% for tag in article.tags %}<a href="{{ SITEURL }}/tag/{{ tag }}.html">{{ tag }}</a> {% endfor %}
    </p>
    {% endif %}

    </div>
  
    {% if DISQUS_SITENAME %}
    <hr>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
       var disqus_identifier = "{{ article.url }}";
       (function() {
       var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
       dsq.src = 'http://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
       (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    {% endif %}
  
  </article>
  
{% endblock %}
