{% extends "base.html" %}

{% block title %}{{ article.title }} - {{ super() }}{%endblock%}

{% block head -%}
{% if article.canonical %}
  <link rel="canonical" href="{{ article.canonical }}">
{%- endif %}

  <script type="text/javascript">
    <!--
    function getPadding (oEl) {
      var iTotalPadding = 0,
          oReg = new RegExp("(px)", "g");

      // IE way
      if (oEl.currentStyle) {
        iTotalPadding = parseInt(oEl.currentStyle['padding-left'].replace(reg, ""))
                      + parseInt(oEl.currentStyle['padding-right'].replace(reg, ""));
      } else if (window.getComputedStyle) {
        iTotalPadding = parseInt(document.defaultView.getComputedStyle(oEl, null).getPropertyValue('padding-left').replace(reg, "")) 
                      + parseInt(document.defaultView.getComputedStyle(oEl, null).getPropertyValue('padding-right').replace(reg, ""));
      };

      return parseInt(iTotalPadding);
    };
    
    (function () {
      if(!document.getElementsByTagName) return;
      
      var oElem = document.getElementsByTagName("pre");
      if(!oElem) return;

      for (var i = oElem.length - 1; i >= 0; i--) {
        (function () {
          var oEl = oElem[i],
              sDefaultWidth = oEl.offsetWidth - getPadding(oEl),
              sHoverWidth   = oEl.scrollWidth - getPadding(oEl);

          oEl.onmouseover = function() { oEl.style.width = sHoverWidth +"px"; };
          oEl.onmouseout  = function() { oEl.style.width = sDefaultWidth +"px"; };
        })();
      };
    })();
    -->
  </script>
{% endblock %}

{% block content %}  

  <article class="hentry">

    <div class="entry-header">
      <abbr class="published" title="{{ article.date.isoformat() }}">
        {{ article.locale_date }}
      </abbr>
      <h2>{{ article.title }}</h2>
    </div>
    <div class="entry-content">
    {{ article.content }}
    </div>
    
    <div class="metadata">
    
    {#
    {% if article.author %}
    <address class="vcard author">
      By <a class="url fn" href="{{ SITEURL }}/author/{{ article.author }}.html">{{ article.author }}</a>
    </address>
    {% endif %}
    #}
    
    {% if article.category and article.category != "misc" %}
    <p>
      Posted in <em><a href="{{ SITEURL }}/category/{{ article.category }}.html">{{ article.category }}</a></em>
    </p>
    {% endif %}
    
    {% if article.tags %}
    <p>
      Tags: {% for tag in article.tags %}<a href="{{ SITEURL }}/tag/{{ tag }}.html">{{ tag }}</a> {% endfor %}
    </p>
    {% endif %}

    </div>
  
    {% if DISQUS_SITENAME %}
    <hr>
    <div id="disqus_thread"></div>
    <script type="text/javascript">
       var disqus_identifier = "{{ article.url }}";
       (function() {
       var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
       dsq.src = 'http://{{ DISQUS_SITENAME }}.disqus.com/embed.js';
       (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    {% endif %}
  
  </article>
  
{% endblock %}
